body {
    text-align: left;
    font-family: "courier";
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}
#header {
    background-color: #33A;
    color: white;
    font-weight: bold;
    box-shadow: 0px 2px 10px 0 black;
    margin: 0;
    padding: 0.5em;
}
#header #tagline {
    font-weight: normal;
    font-size: 0.8em;
    padding: 0 0 0 1em;
}
#container {
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
}

#container h1 {
    font-size: 20px;
}
#post {
    padding: 30px;
    margin-top: 30px;
}